* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 html{
     scroll-behavior: smooth;
 }

 /* Navbar */
 .navbar{
     display: flex;
     justify-content: center;
     align-items: center;
     background-color:rgba(0, 0, 0, 0.5);
     position: sticky;
     top: 0;
 }
 .navbar ul{
     display: flex;
     list-style: none;
     margin: 20px 0px;
 }
 .navbar ul li{
     font-family: century;
     font-size: 1.1rem;
     font-weight: bold;
 }  
 .navbar ul li a{
     text-decoration: none;
     color: white;
     padding: 8px 25px;
     transition: all .5s ease;
 }
 .navbar ul li a:hover{
     background-color: white;
     color: black;
     box-shadow: 0 0 10px white;
 }

/*home section*/
#home{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    height: 640px;
}
#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url('sss.jpg') no-repeat center center/cover;
    height:900px;
    width: 100%;
    z-index: -1;
    opacity: .9;
    

}

.main{
    display: flex;
    flex-direction: column;
   /* border: 2px solid black;*/
    align-items: center;
    position: absolute;
    top: 20%;
    right: 15%;

}
   
.headings{
    font-family: century;
    font-size: 3rem;
    text-align: center;
    margin: 40px 60px;
    color: cornsilk;
}

/* About Section */
#About{
    display: flex;
    flex-direction:column ;
    box-sizing: border-box;
    padding:300px;
    margin-bottom: 5px;
    background-color:rgba(8, 8, 8, 0.979);
    font-size: 1.5rem;
    align-items: flex-start;
    color: white;
}
 h1{
     position: relative;
     bottom: 10px;
     left: 5px;

 }
#pic{
    display: flex;
    padding: 5px;
}
#pic img{
 
    width: 175px;
    height:200px;
}
#intro{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    font-size: 1.5rem;
    color: white;
}
#intro h2{
    font-size: 2rem;
    margin: 5px 0px;
    margin-bottom: 5px;
}   

/* Portfolio section */
#Portfolio{
    display: flex;
    flex-direction: column;
    background-color:rgba(8, 8, 8, 0.979);
    margin-bottom: 5px;
    color:black;
    align-items: center;
    padding: 20px;


}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}
.gallery img{
    width: 360px;
    height: 240px;
    margin: 10px;

}
/* Services Section */
#Services{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    font-size: 1.5rem;
    color:rgb(255, 255, 255);
    margin-bottom: 5px;
    background-color:rgba(8, 8, 8, 0.979);
}
.name{
    color: black;
    position: relative;
     bottom: 2px;
     left: 2px;
     font-size: 1.5rem;

}
 
.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
   
   
}
.box{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 350px;
    border: 1px solid black;
    margin: 10px;
    align-items: center;
    text-align: center;
    padding: 5px;
    border-radius: 15px;
    background: linear-gradient(to top, rgb(225,45,45) 25%, rgb(39, 22, 199) 50%);
    background-size: 100% 200%;
    transition: all .8s;
    color: black;
    

}

.box:hover{
    background-position: left bottom;
    border: none;
    box-shadow: 0 0 20px rgb(225,45,45);
    text-align: center;


}
.box img{
    width: 80px;
    height: 80px;
    background-color: rgb(39, 7, 180);
    padding: 10px;
}

/* Contact Section */
#Contact{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-bottom: 5px;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    align-items: center;
    font-size: 2rem;
    padding: 20px; ;


}

.form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0px;
}

.input{
    padding: 12px;
    margin: 10px; 
    width: 130%;
    border: none;
    outline: none;

}
#msg{
    width: 100%;
    padding: 10px;
    margin: 12px;
    border: none;
    outline:none ;
}
#Send{
    padding: 10px;
    width: 30%;
    margin: 20px;
    border: none;
    outline: none;

}

#Send:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px white;


}
